# dependencies
vendor/

# env files
.env
.env.local

# uploads
public/media/uploads/*
!public/media/uploads/.gitkeep

# system files
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# logs
*.log
.cache/